@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45005757');
  src: url('../font/fontello.eot?45005757#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?45005757') format('woff'),
       url('../font/fontello.ttf?45005757') format('truetype'),
       url('../font/fontello.svg?45005757#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45005757#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-yen:before { content: '\e800'; } /* '' */
.icon-bell:before { content: '\e801'; } /* '' */
.icon-tags:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-bookmark-empty:before { content: '\e808'; } /* '' */
.icon-bookmark:before { content: '\e809'; } /* '' */
.icon-code:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-comment-empty:before { content: '\e80d'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80e'; } /* '' */
.icon-minus-squared-alt:before { content: '\e80f'; } /* '' */
.icon-rss:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-attach:before { content: '\e813'; } /* '' */
.icon-eye:before { content: '\e814'; } /* '' */
.icon-zoom-in:before { content: '\e815'; } /* '' */
.icon-zoom-out:before { content: '\e816'; } /* '' */
.icon-down-open:before { content: '\e817'; } /* '' */
.icon-left-open:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-up-open:before { content: '\e81a'; } /* '' */
.icon-flag-empty:before { content: '\e81b'; } /* '' */
.icon-export:before { content: '\e81c'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-comment:before { content: '\e81e'; } /* '' */
.icon-direction:before { content: '\e81f'; } /* '' */
.icon-folder-open-empty:before { content: '\e820'; } /* '' */
.icon-book:before { content: '\e821'; } /* '' */
.icon-folder-open:before { content: '\e822'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-menu:before { content: '\e824'; } /* '' */
.icon-weibo:before { content: '\e825'; } /* '' */
.icon-cog-alt:before { content: '\e826'; } /* '' */
.icon-wechat:before { content: '\e827'; } /* '' */
.icon-wrench:before { content: '\e828'; } /* '' */
.icon-lightbulb:before { content: '\e829'; } /* '' */
.icon-resize-small:before { content: '\e82a'; } /* '' */
.icon-git:before { content: '\e82b'; } /* '' */
.icon-resize-full:before { content: '\e82c'; } /* '' */
.icon-right-hand:before { content: '\e82d'; } /* '' */
.icon-left-hand:before { content: '\e82e'; } /* '' */
.icon-link-ext:before { content: '\e82f'; } /* '' */
.icon-up-hand:before { content: '\e830'; } /* '' */
.icon-down-hand:before { content: '\e831'; } /* '' */
.icon-arrows-cw:before { content: '\e832'; } /* '' */
.icon-ellipsis:before { content: '\e833'; } /* '' */
.icon-star-empty:before { content: '\e834'; } /* '' */
.icon-ellipsis-vert:before { content: '\e835'; } /* '' */
.icon-heart-empty:before { content: '\e836'; } /* '' */
.icon-mail:before { content: '\e837'; } /* '' */
.icon-dollar:before { content: '\e838'; } /* '' */
.icon-docs:before { content: '\e839'; } /* '' */
.icon-coffee:before { content: '\e83a'; } /* '' */
.icon-copyright:before { content: '\e83b'; } /* '' */
.icon-at:before { content: '\e83c'; } /* '' */
.icon-android:before { content: '\e83d'; } /* '' */
.icon-linux:before { content: '\e83e'; } /* '' */
.icon-heart:before { content: '\e83f'; } /* '' */
.icon-star:before { content: '\e840'; } /* '' */
.icon-right-dir:before { content: '\e841'; } /* '' */
.icon-left-dir:before { content: '\e842'; } /* '' */
.icon-up-dir:before { content: '\e843'; } /* '' */
.icon-down-dir:before { content: '\e844'; } /* '' */
.icon-angle-left:before { content: '\e845'; } /* '' */
.icon-angle-right:before { content: '\e846'; } /* '' */
.icon-angle-up:before { content: '\e847'; } /* '' */
.icon-angle-down:before { content: '\e848'; } /* '' */