/*
 *
 * Side navigation
 *
 * Customized format for sidenav.
 * learned from:
 * http://getbootstrap.com/getting-started/
 * original file:
 * https://github.com/twbs/bootstrap/blob/master/docs/assets/css/src/docs.css#L548
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
-------------------------------------------------- */
/* By default it's not affixed in mobile views, so undo that */

#sidebar section nav ul {
    margin-left: 5px
}

#sidebar nav ul ul {
    display: none;
}

#sidebar nav ul li i {
    float: left;
}

/* First level of nav */

#toc_widget_content {
    margin-top: 0;
    margin-bottom: 0
}
#toc_widget_container {
    max-height: 600px;
    overflow: auto;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 0;
}

::-webkit-scrollbar {
    visibility: hidden;
}

@media (min-width: 1500px) {
    #toc_widget_container {
      max-height: 450px;
    }
}

/* All levels of nav */

#toc_widget_container .nav > li {
    display: block;
    padding: 4px 10px;
    font-weight: 700;
    /*no wrap*/
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
#toc_widget_container .nav > li:hover,
#toc_widget_container .nav > li:focus {
    text-decoration: none;
    background-color: transparent;
}
#toc_widget_container .nav > .active > a,
#toc_widget_container .nav > .active:hover > a,
#toc_widget_container .nav > .active:focus > a {
    font-weight: 700;
    color: red;
    background-color: transparent;
}
/* Nav: second level (shown on .active) */

#toc_widget_container .nav .nav {
    /* display: none; Hide by default, but at >768px, show it */
    /* padding-bottom: 10px; */
}
#toc_widget_container .nav .nav > li {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 16px;
    font-weight: 400
}
#toc_widget_container .nav .nav > .active > a,
#toc_widget_container .nav .nav > .active:hover > a,
#toc_widget_container .nav .nav > .active:focus > a {
    font-weight: 700;
    color: red
}
/* Nav: 3rd level (shown on .active) */

#toc_widget_container .nav .nav .nav {
    /*display: none;  Hide by default, but at >768px, show it */
    /* padding-bottom: 10px;*/
}
#toc_widget_container .nav .nav .nav > li {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 22px;
    font-style: italic;
    font-weight: 400
}
#toc_widget_container .nav .nav .nav > .active > a,
#toc_widget_container .nav .nav .nav > .active:hover > a,
#toc_widget_container .nav .nav .nav > .active:focus > a {
    font-weight: 700;
    color: red
}
