/*
 *
 * Side navigation
 *
 * Customized format for sidenav.
 * learned from:
 * http://getbootstrap.com/getting-started/
 * original file:
 * https://github.com/twbs/bootstrap/blob/master/docs/assets/css/src/docs.css#L548
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
-------------------------------------------------- */
/* By default it's not affixed in mobile views, so undo that */

#sidebar section nav ul {
    margin-left: 5px
}

#sidebar nav ul ul {
    display: none
}

#sidebar nav ul li i {
    float: left
}

#sidebar nav ul .not_collapsable {
    color: #ccc
}

/* First level of nav */

#toc_widget_content {
    margin-top: 0;
    margin-bottom: 10px
}
#toc_widget_container {
    max-height: 600px;
    overflow: auto;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 0;
}

::-webkit-scrollbar {
    visibility: hidden;
}

@media (min-width: 1500px) {
    #toc_widget_container {
      max-height: 450px;
    }
}

/* All levels of nav */

#toc_widget_container .nav > li {
    display: block;
    font-weight: 700;
    /*no wrap*/
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
#toc_widget_container .nav > li:hover,
#toc_widget_container .nav > li:focus {
    text-decoration: none;
    background-color: transparent;
}
/* Nav: second level (shown on .active) */

#toc_widget_container .nav .nav {
    /* display: none; Hide by default, but at >768px, show it */
    /* padding-bottom: 10px; */
}
#toc_widget_container .nav .nav > li {
    font-size: 96%;
    padding-left: 12px;
    font-weight: 400
}
/* Nav: 3rd level (shown on .active) */

#toc_widget_container .nav .nav .nav {
    /*display: none;  Hide by default, but at >768px, show it */
    /* padding-bottom: 10px;*/
}
#toc_widget_container .nav .nav .nav > li {
    font-size: 93%;
    padding-left: 18px;
    font-weight: 400
}

#toc_widget_container .nav .nav .nav .nav > li {
    font-size: 90%;
    padding-left: 24px;
    font-style: normal;
    font-weight: 100
}

#toc_widget_container .nav .active *,
#toc_widget_container .nav .nav .active *,
#toc_widget_container .nav .nav .nav .active *,
#toc_widget_container .nav .nav .nav .nav .active * {
    font-weight: 700;
    color: red;
    background-color: transparent;
}
