/* Doxy pretty-printing styles. Used with prettify.js.  */

pre .str, code .str { color: #fec243; } /* string  - eggyolk gold */
pre .kwd, code .kwd { color: #8470FF; } /* keyword - light slate blue */
pre .com, code .com { color: #32cd32; font-style: italic; } /* comment - green */
pre .typ, code .typ { color: #6ecbcc; } /* type - turq green */
pre .lit, code .lit { color: #d06; } /* literal - cherry red */
pre .pun, code .pun { color: #8B8970;  } /* punctuation - lemon chiffon4  */
pre .pln, code .pln { color: #f0f0f0; white-space: pre } /* plaintext - white */
pre .tag, code .tag { color: #9c9cff; } /* html/xml tag  (bluey)  */
pre .htm, code .htm { color: #dda0dd; } /* html tag  light purply*/
pre .xsl, code .xsl { color: #d0a0d0; } /* xslt tag  light purply*/
pre .atn, code .atn { color: #46eeee; font-weight: normal;} /* html/xml attribute name  - lt turquoise */
pre .atv, code .atv { color: #EEB4B4; } /* html/xml attribute value - rosy brown2 */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

a {
  text-decoration: none;
}
pre.prettyprint, code.prettyprint {
  font-family:'Droid Sans Mono','CPMono_v07 Bold','Droid Sans';
  font-weight: bold;
  font-size: 90%;
  background-color: #0f0f0f;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap
}  /*  background is black (well, just a tad less dark )  */

pre.prettyprint {
  width: 95%;
  margin: 0 auto;
  margin-bottom: .67em;
  padding: 2px;
  white-space: nowrap;
  overflow-x: auto
}

pre.prettyprint a, code.prettyprint a {
   text-decoration:none;
}
/* Specify class=linenums on a pre to get line numbering; line numbers themselves are the same color as punctuation */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #8B8970; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

/* print is mostly unchanged from default at present  */
@media print {
  pre.prettyprint, code.prettyprint { background-color: #fff;  }
  pre .str, code .str { color: #088; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #oc3; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #b66ff7; font-weight: bold; }
  pre .htm, code .htm { color: #606; font-weight: bold; }
  pre .xsl, code .xsl { color: #606; font-weight: bold; }
  pre .atn, code .atn { color: #c71585;  font-weight: normal; }
  pre .atv, code .atv { color: #088;  font-weight: normal; }
}

@media (max-width: 999px) {
  pre.prettyprint {
    width: 98%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0
  }
  pre.prettyprint, code.prettyprint {
    font-size: 80%
  }
}

@media print {
  pre.prettyprint {
    overflow-x: visible;
    white-space: pre-wrap;
  }
  pre.prettyprint, code.prettyprint {
    white-space: pre-wrap;
  }
}
