[submodule "qemu"]
	path = qemu
	url = http://git.qemu.org/git/qemu.git
[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot
[submodule "linux-stable"]
	path = linux-stable
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
[submodule "u-boot"]
	path = u-boot
	url = http://git.denx.de/u-boot.git
