---
layout: page
title: 分组
header: Post By Groups
comments: false
---
{% include JB/setup %}

{% assign posts_by_group = site.posts | group_by:"group" | sort:"group" %}

{% for group in posts_by_group %}
  {% if group.name == empty %}
    {% assign group_name = site.data.groups['original'] %}
  {% else %}
    {% assign group_name = site.data.groups[group.name] %}
  {% endif %}

  <h2 id="{{ group_name}}-ref">{{ group_name}} <sup>({{ group.items.size }})</sup></h2>
  <ul>
    {% for post in group.items %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
