---
layout: page
author: admin
group: home
toc: false
ctg: true
license: false
title: 泰晓科技
comments: false
tagline: '聚焦 Linux - 追本溯源，见微知著！'
keywords: 泰晓科技,TinyLab,嵌入式Linux,Linux内核,Linux Lab,Linux 0.11 Lab,Markdown Lab,Shell编程范例,C语言编程透视,嵌入式Linux知识库
description: 泰晓科技 -- 聚焦 Linux，致力于推动业界打造更极致的 Linux 产品 - 追本溯源，见微知著！- 透视原理，夯实基础！原创开源，交流分享！思考实验，优化体验！
---
{% include JB/setup %}

<!-- Recent Posts  -->
<section id="home">
  {% assign articles = paginator.posts %}
  {% assign condition = 'draft' %}
  {% assign value = false %}
  {% include widgets/articles %}
</section>

<!-- Pagination Links -->
<section class="pagination pagination-centered">
  <ul>
    <!-- First Page -->
    {% if paginator.previous_page %}
    <li><a href="/index.html">&laquo;&laquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&laquo;&laquo;</a></li>
    {% endif %}

    <!-- Previous Page -->
    {% if paginator.previous_page %}
    <li>
      {% if paginator.previous_page == 1 %}
      <a href="/index.html">&laquo;</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}">&laquo;</a>
      {% endif %}
    </li>
    {% else %}
    <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}

    <!-- Current Page -->
    <li class="active">
      <span class="page_number ">第 {{ paginator.page }}/{{ paginator.total_pages }} 页</span>
    </li>

    <!-- Next Page -->
    {% if paginator.next_page %}
    <li><a href="/page{{paginator.next_page}}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}

    <!-- Last Page -->
    {% if paginator.next_page %}
    <li><a href="/page{{ paginator.total_pages }}">&raquo;&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&raquo;&raquo;</a></li>
    {% endif %}
  </ul>
</section>
