<section id="content">
  <article>

    <section>
      <header>
        <h1>{{ page.title }}</h1>
      </header>
    </section>
{% if page.tagline %}
    <section>
      <header>
        <hr><small>{{ page.tagline }}</small>
      </header>
    </section>
{% endif %}

  <section>
    {% if page.group != "home" and (page.author != null or page.comments == null)) %}
      {% include widgets/page_header %}
    {% endif %}

    {% include widgets/contact %}
    <div {% if page.group != "home" %} id="main_content_container" {% endif %}>
    {{ content }}
    </div>
  </section>

  </article>

  <hr>
{% if page.group != "home" %}
  {% include widgets/sponsor %}
{% else %}
  {% include widgets/contact %}
{% endif %}

  {% if page.license != false %}
  <hr>
  <footer>
     {% include widgets/copyright %}
  </footer>
  <hr>
  {% endif %}

</section>
