{% if page.group != "home" %}
<section id="home">
  {% assign articles = site.pages %}
  {% assign condition = 'top' %}
  {% assign value = true %}
  {% assign style = "tiny" %}
  {% include widgets/articles %}
  {% assign style = null %}
</section>
{% endif %}

<section id="content">
  <article>

    <section>
      <header>
        <h1>{{ page.title }}</h1>
      </header>
    </section>
{% if page.tagline %}
    <section>
      <header>
        <hr><small>{{ page.tagline }}</small>
      </header>
    </section>
{% endif %}

  <section>
    {% if page.group != "home" and (page.author != null or page.comments == null)) %}
      {% include widgets/page_header %}
    {% endif %}

    {% unless page.url contains "/about" %}
      {% include widgets/contact %}
    {% endunless %}
    <div {% if page.group != "home" %} id="main_content_container" {% endif %}>
    {{ content }}
    </div>
  </section>

  </article>

{% if page.group != "home" %}
  {% include widgets/sponsor %}
{% else %}
  {% include widgets/contact %}
{% endif %}
{% include widgets/footer_ads %}

  {% if page.license != false %}
  <hr>
  <footer>
     {% include widgets/copyright %}
  </footer>
  <hr>
  {% endif %}

</section>
