<section id="content">
  {% assign articles = site.pages %}
  {% assign condition = 'top' %}
  {% assign value = true %}
  {% assign style = "tiny" %}
  {% include widgets/articles %}

  {% assign articles = site.posts %}
  {% include widgets/articles %}
  {% assign style = null %}
</section>

<section id="content">
  <article>
    <header>
      <h1 title="{{ page.title }}">{{ page.title }}</h1>
    </header>
{% if page.tagline %}
    <header>
       <hr><small>{{ page.tagline }}</small>
    </header>
{% endif %}

   <section>
     {% include widgets/post_header %}

     {% include widgets/contact %}

     <div id="main_content_container">
     {{ content }}
     </div>

  {% include widgets/sponsor %}

     {% unless page.album == empty %}
       {% assign album_header = "<h2> Read Album: </h2>" %}
       {% include widgets/album_posts %}
     {% endunless %}

     {% assign related_header = "<h2> Read Related: </h2>" %}
     {% include widgets/related_posts %}

     {% assign recent_header = "<h2> Read Latest: </h2>" %}
     {% include widgets/recent_posts %}

   </section>
  </article>
</section>

<section>
  <hr>
  {% unless page.categories == empty %}
  <ul class="tag-box inline">
    <li><i class="icon-large icon-folder-open"></i></li>
    {% assign categories_list = page.categories %}
    {% include JB/categories_list %}
  </ul>
  {% endunless %}

  {% unless page.tags == empty %}
  <ul class="tag-box inline">
    <li><i class="icon-large icon-tags"></i></li>
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
  </ul>
  {% endunless %}

  {% if page.license != false %}
  <hr>
  <footer>
     {% include widgets/copyright %}
  </footer>
  {% endif %}

  <hr>

  {% include widgets/prev_next_post %}

  {% include widgets/footer_ads %}

</section>
