---
layout: page
title: 标签
author: Wu Zhangjin
tagline: 按照所含标签展示
header: Posts By Tag
permalink: /tags/
comments: false
---
{% include JB/setup %}

{% assign x_label = '标签' %}
{% assign y_label = '数目' %}

{% assign list = nil %}
{% assign item_max_length = 8 %}

{% for tag in site.tags %}

   {% assign item_size = tag[1].size %}
   {% assign item_length = item_size | append:'' | size %}
   {% assign item_zeros = item_max_length | minus: item_length %}
   {% assign prefix_zeros = '' %}
   {% for i in (1..item_zeros) %}
     {% assign prefix_zeros = prefix_zeros | append:'0' %}
   {% endfor %}
   {% assign list0 = prefix_zeros | append: item_size | append:',' | append: tag[0] %}
   {% if list == nil %}
     {% assign list = list0 %}
   {% else %}
     {% assign list = list | append:';' | append: list0 %}
   {% endif %}


<h3 id="{{ tag[0] | downcase | replace:' ','-' | replace:'/','-' }}-ref">{{ tag[0] }} <sup>({{ tag[1].size }})</sup></h3>
<ul>
  {% assign pages_list = tag[1] %}  
  {% include JB/pages_list %}
</ul>
{% endfor %}

{% assign list = list | split:';' | sort | reverse %}

<h3>{{ x_label}}{{ y_label}}统计 <sup>({{ site.posts.size }})</sup></h3>
{% include widgets/svg_statistic %}
