[Desktop Entry]
Encoding=UTF-8
Name=Demo Page
Comment=Local site of http://tinylab.org
Exec=/usr/bin/firefox http://localhost/
Icon=/usr/share/pixmaps/firefox.png
Type=Application
