[Desktop Entry]
Encoding=UTF-8
Name=TinyLab.org
Comment=A Friendly Lab for jekyll website 
Exec=/usr/bin/firefox http://localhost/
Icon=/usr/share/pixmaps/firefox.png
Type=Application
