[Desktop Entry]
Encoding=UTF-8
Name=Local Page
Comment=Local site of http://tinylab.org
Exec=/usr/bin/chromium-browser http://localhost/
Icon=/usr/share/pixmaps/chromium-browser.png
Type=Application
